<section id="testimonials" class="section-padding dark-bg pos-section overlay-dark">
  <!-- page triangle shape -->
  <div class="page-triangle white-bg"></div>
  <!-- End page triangle shape -->
  <div class="container">
    <div class="owl-carousel testimonial-carousel nf-carousel-theme white">
      <div class="item">
        <div class="testimonial text-center max-width-700">
          <div class="page-icon-sm"><i class="icon-quote"></i></div>
          <h2>What People Say?</h2>
          <p class="lead-lg">We got a lot of really great comments from our community about how exciting it was and how connected they felt to each other</p>
          <h6 class="quote-author alt-title">Stacy Youkillis <span class="text-regular">( Development Director - Brandeis School )</span></h6>
        </div>
      </div>
      <div class="item">
        <div class="testimonial text-center max-width-700">
          <div class="page-icon-sm"><i class="icon-quote"></i></div>
          <h2>What People Say?</h2>
          <p class="lead-lg">"You took so much off our plate so we could focus our efforts on getting more people to the event to raise more money"</p>
          <h6 class="quote-author alt-title">Christine Tamez <span class="text-regular">( Development - Brandeis School )</span></h6>
        </div>
      </div>
    </div>
  </div>
</section>
