---
title: Galas At Home - Virtual Fundraising Production Company
---

<section id="inner-intro" class="inner-intro bg-image overlay-dark40 dark-bg parallax parallax-background2" data-background-img="<%= image_path 'intro-bg.jpg' %>">
  <div class="container">
    <div class="intro-content">
      <div class="intro-content-inner">
        <h1 class="">Best Practices for virtual galas</h1>
        <h5 class="alt-title intro-sub-title">We help to collect the best practices for virtual live galas</h5>
      </div>
    </div>
  </div>
</section>

<section class="section-padding">
  <div class="container">
    <div class="row">

      <!--Post Col-->
      <div class="col-md-4 col-sm-6 mb-45">
        <!-- Post -->
        <div class="blog-post">
          <div class="post-media">
            <%= image_tag 'intro-bg.jpg' %>
          </div>
          <div class="post-meta">
            <span>by <a>John Doe</a>,</span>
            <span class="post-date">06 Jan 2016</span>
          </div>
          <div class="post-header">
            <h4 class="alt-title"><a href="page-blog_single.html">We denounce with righteous the indignation and dislike</a></h4>
          </div>
          <div class="post-entry">
            <p>Luctus pulvinar, hendrerit id, Maecenas tempus, tellus eget lorem. Maecenas nec odio et is ante.</p>
          </div>
          <div class="post-tag">
            <span><a href="#">Branding</a></span>
            <span><a href="#">Design</a></span>
          </div>
        </div>
        <!-- End Post -->
      </div>

      <!--Post Col-->
      <div class="col-md-4 col-sm-6 mb-45">
        <!-- Post -->
        <div class="blog-post">
          <div class="post-media">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/8uZ98Pa3bPE" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="post-meta">
            <span>by <a>John Doe</a>,</span>
            <span class="post-date">06 Jan 2016</span>
          </div>
          <div class="post-header">
            <h4 class="alt-title"><a href="page-blog_single.html">We denounce with righteous the indignation and dislike</a></h4>
          </div>
          <div class="post-entry">
            <p>Luctus pulvinar, hendrerit id, Maecenas tempus, tellus eget lorem. Maecenas nec odio et is ante.</p>
          </div>
          <div class="post-tag">
            <span><a href="#">Branding</a></span>
            <span><a href="#">Design</a></span>
          </div>
        </div>
        <!-- End Post -->
      </div>

      <!--Post Col-->
      <div class="col-md-4 col-sm-6 mb-30">
          <!-- Post -->
        <div class="blog-post">
          <div class="post-media">
            <iframe src="https://player.vimeo.com/video/81336102?title=0&byline=0&portrait=0&color=ffffff" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
          <div class="post-meta">
            <span>by <a>John Doe</a>,</span>
            <span class="post-date">06 Jan 2016</span>
          </div>
          <div class="post-header">
            <h4 class="alt-title"><a href="page-blog_single.html">We denounce with righteous the indignation and dislike</a></h4>
          </div>
          <div class="post-entry">
            <p>Luctus pulvinar, hendrerit id, Maecenas tempus, tellus eget lorem. Maecenas nec odio et is ante.</p>
          </div>
          <div class="post-tag">
            <span><a href="#">Branding</a></span>
            <span><a href="#">Design</a></span>
          </div>
        </div>
        <!-- End Post -->
      </div>
    </div>
  </div>
</section>